[Unit]
Description=TelePirate bot
After=network.target

[Service]
WorkingDirectory=/opt/telepirate
EnvironmentFile=/opt/telepirate/env

User=root

Restart=always
TimeoutStopSec=1

ExecStart=/opt/telepirate/telepirate

[Install]
WantedBy=multi-user.target
